@font-face {
    font-family: 'courier_newregular';
  	src: url('font/HuaExWeb-Blur-TRIAL.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raster';
  	src: url('font/HuaExWeb-Raster.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gemeli Mono';
    src: url('font/gemelimonoweb-regular-TRIAL.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}